{% load static %}

<footer class="w-full text-gray-700 bg-light body-font">
    <div class="container px-5 pt-24 mx-auto grid sm:grid-cols-2 lg:grid-cols-4 gap-2 justify-center content-center">
        <!-- logo -->
        <div class="flex-shrink-0 w-64 text-center md:mx-0 md:text-left mb-20 sm:col-span-2 xl:col-span-1 grid justify-center">
            <a class="flex items-center justify-center font-medium text-gray-900 title-font md:justify-start">
                <img src="{% static 'images/logo-trans.png' %}" alt="" class="w-48">
            </a>
            <div class="mt-4 grid justify-center">
                <span class="inline-flex justify-center mt-2 sm:ml-auto sm:mt-0">
                    <a class="text-gray-500 cursor-pointer hover:text-gray-700">
                        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                        </svg>
                    </a>
                    <a class="ml-3 text-gray-500 cursor-pointer hover:text-gray-700">
                        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            class="w-5 h-5" viewBox="0 0 24 24">
                            <path
                                d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                            </path>
                        </svg>
                    </a>
                    <a class="ml-3 text-gray-500 cursor-pointer hover:text-gray-700">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                        </svg>
                    </a>
                    <a class="ml-3 text-gray-500 cursor-pointer hover:text-gray-700">
                        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                            <path stroke="none"
                                d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                            </path>
                            <circle cx="4" cy="4" r="2" stroke="none"></circle>
                        </svg>
                    </a>
                </span>
            </div>
        </div>
        <!-- about -->
        <div class="w-full px-4">
            <h2 class="mb-3 text-sm font-medium tracking-widest text-secondary uppercase title-font">About</h2>
            <nav class="mb-10 list-none">
                <li class="mt-3">
                    <a href="{% url 'main:about' %}" class="text-gray-500 cursor-pointer hover:text-secondary">Company</a>
                </li>
                <li class="mt-3">
                    <a href="{% url 'posts:list' %}" class="text-gray-500 cursor-pointer hover:text-secondary">Posts</a>
                </li>
                <li class="mt-3">
                    <a href="{% url 'main:terms-privacy' %}" class="text-gray-500 cursor-pointer hover:text-secondary">Terms &amp; Privacy</a>
                </li>
            </nav>
        </div>
        <!-- support -->
        <div class="w-full px-4">
            <h2 class="mb-3 text-sm font-medium tracking-widest text-secondary uppercase title-font">Services</h2>
            <nav class="mb-10 list-none">
                <li class="mt-3">
                    <a href="{% url 'consultancy:consultancy' %}" class="text-gray-500 cursor-pointer hover:text-secondary">Consultancy</a>
                </li>
                <li class="mt-3">
                    <a href="{% url 'vehicles:list' %}" class="text-gray-500 cursor-pointer hover:text-secondary">Vehicles</a>
                </li>
                <li class="mt-3">
                    <a href="{% url 'products:categories' %}" class="text-gray-500 cursor-pointer hover:text-secondary">Farm Produce</a>
                </li>
            </nav>
        </div>
        <!-- contact -->
        <div class="w-full px-4">
            <h2 class="mb-3 text-sm font-medium tracking-widest text-secondary uppercase title-font">Contact</h2>
            <nav class="mb-10 list-none">
                <li class="mt-3">
                    <a href="{% url 'contact:main-page' %}" class="text-gray-500 cursor-pointer hover:text-secondary">Send a Message</a>
                </li>
                <li class="mt-3">
                    <a class="text-gray-500 cursor-pointer hover:text-secondary">info@sil-pi.com</a>
                </li>
                <li class="mt-3">
                    <a href="tel:+256772601644" class="text-gray-500 cursor-pointer hover:text-secondary">+256-772-601644</a>
                </li>
            </nav>
        </div>
    </div>
    <div class="">
        <div class="container px-5 py-4 mx-auto">
            <p class="text-sm text-muted capitalize text-center">Powered by DakDot © <span id="yearFooter"></span></p>
        </div>
        
        <script>
            document.getElementById('yearFooter').textContent = new Date().getFullYear();
        </script>
        
    </div>
</footer>