{% load static %}

<!-- Navbar -->

<div x-data='{ 
    menu: false,
    services_menu: false
}'>
<nav class="py-3 bg-white/90 backdrop-blur-md shadow-md w-full fixed top-0 left-0 right-0 z-10">

    <div class="container mx-auto flex justify-between">
        <!-- Logo Container -->
        <div class="flex items-center">
            <!-- Logo -->
            <a class="cursor-pointer">
                <h3 class="text-2xl font-medium text-blue-500">
                    <img class="h-16 object-cover" src="{% static 'images/logo.png' %}" alt="Store Logo">
                </h3>
            </a>
        </div>

        <!-- Links Section -->
        <div class="items-center hidden space-x-8 lg:flex">
            <a href="/" class="flex text-gray-600 hover:text-blue-500
                cursor-pointer transition-colors duration-300">
                Home
            </a>

            <div
                class="flex text-gray-600            cursor-pointer transition-colors duration-300 relative items-center gap-3 group min-w-fit">
                Services <i class="fas fa-angle-down"></i>
                <div
                    class="absolute top-0 opacity-0 pointer-events-none group-hover:top-full group-hover:opacity-100 group-hover:pointer-events-auto p-6 outline outline-1 rounded-sm bg-white grid grid-cols-2 gap-3 min-w-[30rem]">
                    <div class="grid gap-2">
                        <h3 class="font-bold">Consultancy</h3>
                        <a href="{% url 'consultancy:consultancy' %}"
                            class="flex text-gray-600 cursor-pointer transition-colors duration-300 hover:text-blue-600">
                            Consultancy
                        </a>
                        <a href="{% url 'consultancy:portfolio' %}"
                            class="flex text-gray-600 cursor-pointer transition-colors duration-300 hover:text-blue-600">
                            Portfolio
                        </a>
                    </div>

                    <div class="grid gap-2">
                        <h3 class="font-bold">Vehicles</h3>
                        <a href="{% url 'vehicles:list' %}" class="flex text-gray-600 
                        cursor-pointer transition-colors duration-300
                    hover:text-blue-600">
                            Vehicle sale and hire
                        </a>
                    </div>

                    <div class="grid gap-2">
                        <h3 class="font-bold">Micro Lending</h3>
                        <a href="{% url 'main:micro-loans' %}" class="flex text-gray-600 
                        cursor-pointer transition-colors duration-300
                    hover:text-blue-600">
                            Micro Lending
                        </a>
                    </div>

                    <div class="grid gap-2">
                        <h3 class="font-bold">Farming</h3>
                        <a href="{% url 'products:categories' %}" class="flex text-gray-600 
                        cursor-pointer transition-colors duration-300
                    hover:text-blue-600">
                            Farm and animal products
                        </a>
                        <a href="{% url 'cart:checkout' %}" class="flex text-gray-600 
                        cursor-pointer transition-colors duration-300
                    hover:text-blue-600">
                            Cart
                        </a>
                    </div>
                </div>
            </div>

            <a href="{% url 'main:about' %}" class="flex text-gray-600 hover:text-blue-500
                cursor-pointer transition-colors duration-300">
                About Us
            </a>

            <a href="{% url 'contact:main-page' %}" class="flex text-gray-600 hover:text-blue-500
                cursor-pointer transition-colors duration-300">
                Contact Us
            </a>
        </div>

        <!-- Icon Menu Section -->
        <div class="flex items-center space-x-5 lg:hidden">
            <button type="button" @click="menu = !menu">
                <i class="fas fa-bars scale-125"></i>
            </button>
        </div>
    </div>

</nav>

<menu x-cloak x-show="menu" x-transition class="fixed top-0 left-0 bottom-0 right-0 bg-white lg:hidden">
        <div class="grid gap-6 place-content-center pt-20 h-full  text-gray-600">
            <a href="/" class="">
                Home
            </a>

            <a href="{% url 'main:about' %}" class="flex text-gray-600 hover:text-blue-500
                cursor-pointer transition-colors duration-300">
                About Us
            </a>

            <a href="{% url 'contact:main-page' %}" class="flex text-gray-600 hover:text-blue-500
                cursor-pointer transition-colors duration-300">
                Contact Us
            </a>

            <div class=" grid gap-4 p-4 border rounded-lg">
                <button @click="services_menu = !services_menu" class="font-bold text-gray-700 text-left">Services <i class="fas fa-angle-down"></i></button>
                <div class="grid gap-4" x-cloak x-transition x-show="services_menu">
                    <!-- consultancy -->
                    <div class="grid gap-2 border p-2 rounded-md">
                        <a href="{% url 'consultancy:consultancy' %}"
                            class="flex cursor-pointer transition-colors duration-300 hover:text-blue-600">
                            Consultancy
                        </a>
                        <a href="{% url 'consultancy:portfolio' %}"
                            class="flex text-gray-600 cursor-pointer transition-colors duration-300 hover:text-blue-600">
                            Portfolio
                        </a>
                    </div>
                    <!-- vehicles -->
                    <div class="grid gap-2 ">
                        <a href="{% url 'vehicles:list' %}" class="flex text-gray-600 
                        cursor-pointer transition-colors duration-300
                    hover:text-blue-600">
                            Vehicle sale and hire
                        </a>
                    </div>
                    <!-- micro lending -->
                    <div class="grid gap-2 ">
                        <a href="{% url 'vehicles:list' %}" class="flex
                        cursor-pointer transition-colors duration-300
                    hover:text-blue-600">
                            Micro Lending
                        </a>
                    </div>
                    <!-- farming -->
                    <div class="grid gap-2 ">
                        <a href="{% url 'products:categories' %}" class="flex text-gray-600 
                        cursor-pointer transition-colors duration-300
                    hover:text-blue-600">
                            Farm and animal products
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </menu>
</div>