{% load static %}

<!-- Navbar -->

<div x-data='{ 
    menu: false,
    services_menu: true
}'>
    <nav class="nav py-3 w-full fixed top-0 left-0 right-0 z-[9001]">

        <div class="container px-3 mx-auto flex justify-between items-center">
            <!-- Logo Container -->
            <div class="flex items-center">
                <!-- Logo -->
                <a class="bg-white py-4 px-2 rounded-lg shadow-sm" href="/">
                    <img src="{% static 'images/logo-trans.png' %}" alt="" class="w-20 sm:w-28">
                </a>
            </div>

            <!-- Links Section -->
            <div class="items-center hidden space-x-8 md:flex bg-white px-6 py-2 rounded-full shadow-sm">
                <a href="/" class="flex hover:text-primary-500
                    cursor-pointer transition-colors duration-300">
                    Home
                </a>

                <div
                    class="flex cursor-pointer transition-colors duration-300 relative items-center gap-3 group min-w-fit">
                    Services <i class="fas fa-angle-down"></i>
                    <div
                        class="dropdown absolute top-8 -left-[11rem] pointer-events-auto p-6 rounded-xl bg-white min-w-[30rem]">
                        <div class="grid grid-cols-2 gap-y-4 text-primary-800">
                            <div class="grid gap-y-3 content-start">
                                <h3 class="font-bold text-sm text-grey-400">Services</h3>
                                <hr>
                                <!-- <a href="{% url 'consultancy:portfolio' %}"
                                    class="flex cursor-pointer transition-colors duration-300 hover:text-primary-600">
                                    View Portfolio
                                </a> -->
                                <a href="{% url 'consultancy:consultancy' %}"
                                    class="flex cursor-pointer transition-colors duration-300 hover:text-primary-600">
                                    Consultancy
                                </a>
                                <a href="{% url 'main:micro-loans' %}" class="flex 
                                cursor-pointer transition-colors duration-300
                            hover:text-primary-600">
                                    Micro Lending
                                </a>
                            </div>

                            <div class="grid gap-y-3 content-start">
                                <h3 class="font-bold text-sm text-grey-400">Products</h3>
                                <hr>
                                <a href="{% url 'main:paint' %}" class="flex 
                                cursor-pointer transition-colors duration-300
                            hover:text-primary-600">
                                    Paint
                                </a>
                                <a href="{% url 'vehicles:list' %}" class="flex 
                                cursor-pointer transition-colors duration-300
                            hover:text-primary-600">
                                    Get a car
                                </a>
                                <a href="{% url 'products:categories' %}" class="flex 
                                cursor-pointer transition-colors duration-300
                            hover:text-primary-600">
                                    Shop Farm Products
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="{% url 'main:about' %}" class="flex hover:text-primary-500
                    cursor-pointer transition-colors duration-300">
                    About Us
                </a>

            </div>

            <a href="{% url 'contact:main-page' %}" class="hidden sm:flex shadow-sm">
                <c-ui.button text="Contact Us" icon="fas fa-phone" variant="white" />
            </a>

            <!-- Icon Menu Section -->
            <div class="md:hidden">
                <c-ui.button variant="white" size="iconXl" title="Nav toggle">
                    <i class="fas text-lg" :class="menu ? 'fa-close' : 'fa-bars'"></i>
                </c-ui.button>
            </div>
        </div>

    </nav>

    <menu x-cloak x-show="menu" x-transition
        class="fixed top-0 left-0 bottom-0 right-0 bg-white lg:hidden overflow-y-auto z-[9000]">
        <div class="grid gap-6 content-start pt-20 pb-6 px-4 text-primary-800">
            <a href="/" class="">
                Home
            </a>

            <a href="{% url 'main:about' %}">
                About Us
            </a>

            <div class=" grid gap-4 rounded-lg">
                <button @click="services_menu = !services_menu"
                    class="text-primary-800 text-left flex gap-8 items-center">Services <i class="fas"
                        :class="services_menu ? 'fa-angle-up' : 'fa-angle-down'"></i></button>
                <div class="grid gap-4 pl-4 border-l" x-cloak x-transition x-show="services_menu">
                    <!-- consultancy -->
                    <div class="grid gap-2">
                        <a href="{% url 'consultancy:consultancy' %}">
                            Consultancy
                        </a>
                        <a href="{% url 'consultancy:portfolio' %}" class=" pl-4 border-l">
                            Portfolio
                        </a>
                    </div>
                    <!-- vehicles -->
                    <div class="grid gap-2 ">
                        <a href="{% url 'vehicles:list' %}">
                            Vehicle sale and hire
                        </a>
                    </div>
                    <!-- micro lending -->
                    <div class="grid gap-2 ">
                        <a href="{% url 'main:micro-loans' %}">
                            Micro Lending
                        </a>
                    </div>
                    <!-- farming -->
                    <div class="grid gap-2 ">
                        <a href="{% url 'products:categories' %}">
                            Farm and animal products
                        </a>
                    </div>
                </div>

            </div>

            <a href="{% url 'contact:main-page' %}" class="px-6 py-2 bg-primary-500 w-fit text-white font-semibold">
                <i class="fas fa-phone mr-4"></i>
                Lets Talk
            </a>

            <a href="tel:+256772601644">
                <i class="fas fa-phone mr-4 text-primary-900 text-xl"></i>
                +256 772 601644
            </a>

            <a href="mailto:silpi@gmail.com">
                <i class="fas fa-envelope mr-4 text-primary-900 text-xl"></i>
                silpi@gmail.com
            </a>
        </div>
    </menu>
</div>

<style>
    nav.nav {
        transition: all 0.3s ease-in-out;
    }

    nav.nav.hide {
        top: -200px;
    }

    nav.nav .group .dropdown {
        clip-path: circle(0% at 50% 0);
        transition: clip-path 0.5s ease-in-out;
    }

    nav.nav .group:hover .dropdown {
        clip-path: circle(70.7% at 50% 50%);
    }
</style>