{% extends 'base.html' %} {% load static tailwind_filters %}


{% block styles %}{% endblock styles %}


{% block content %}

<section class="banner relative min-h-[100dvh] bg-cover bg-no-repeat bg-center"
    style="background-image: url('{% static 'images/stylish-black-woman-car-handoff.webp' %}');">
    <div class="absolute inset-0 grid items-center bg-gradient-to-br from-secondary/10 to-dark">
        <div class="container mx-auto text-right grid justify-end content-end items-end px-3">
            <h1 class="text-5xl md:text-7xl lg:text-8xl xl:text-9xl font-black text-white">Vehicle <br>Solutions</h1>
            <p class="text-xl text-light mb-8">we offer vehicles for sale and hire.</p>
            <a href="#vehicles" class="ml-auto">
                <c-ui.button variant="white" text="Browse Vehicles" icon="fas fa-arrow-down"/>
            </a>
        </div>
    </div>
</section>

<section class="py-20 mt-10" id="vehicles">
    <div class="container mx-auto">
        <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
            {% for vehicle in vehicles %}
                <a href="{% url 'vehicles:request' vehicle.pk %}">
                    <article class="grid p-2 rounded-md transition-all hover:bg-gray-200 hover:shadow-md hover:scale-105 duration-500">
                        <img src="{{ vehicle.image.url }}" class="w-full aspect-video object-cover">
                        <h3 class="font-semibold mt-2"><span>{{ vehicle.make }}</span>. <span>{{ vehicle.model }}</span></h3>
                        <p>{{ vehicle.year }}</p>
                        <p>Available for {{ vehicle.actions }}</p>
                    </article>
                </a>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}


{% block scripts %}{% endblock scripts %}