@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --clr-light: 0 0% 85%;
    --clr-white: 0 0% 95%;
    --clr-muted: 20 3% 56%;
    --clr-primary: 206 97% 29%;
    --clr-secondary: 236 43% 25%;
    --clr-dark: 235 44% 11%;
}

@import './scss/lenis';
@import './scss/infinite_scroller';

html {
    scroll-behavior: smooth;
}


.head__ {
    &2 {
        @apply text-5xl font-bold text-secondary mb-8;
    }

    &3 {
        @apply text-3xl font-bold text-secondary mb-2;
    }
}

.business_loans {
    @apply grid gap-8;

    article {
        @apply p-8 transition-all;

        h3 {
            @apply text-secondary font-semibold text-3xl mb-4;
        }

        p {
            @apply text-xl;
        }

        &:hover {
            @apply bg-white/50;
        }
    }
}

.section {
    padding-top: 4rem /* 40px */;
    padding-bottom: 4rem /* 40px */;

    @media (min-width: 768px) {
        padding-top: 5rem /* 80px */;
        padding-bottom: 5rem /* 80px */;
    }
}

.container {
    @apply px-6 mx-auto;
}
