{% extends 'base.html' %} {% load static %}


{% block content %}

<main class="pt-40 pb-20 ml-12 ">
    <!-- code here -->
    <div class=" container max-w-4xl block shadow-sm border-spacing-0 rounded-lg">
        <h2 class="text-xl font-bold text-gray-900  mt-8 mb-4 ">About Us - SIL-PI</h2>
        <P class="text-lg text-gray-700">
            At Sil-Pi, we are dedicated to providing a diverse range of services tailored to meet your unique needs. 
            <br>
            With a commitment to excellence and a customer-centric approach, we strive to make a positive impact in various facets of your life. Explore the different dimensions of our business:
        </P>
        <br>
        <b>Automotive Solutions:</b>
        <br>
        <p class="text-lg text-gray-700">
            Looking for a reliable partner in the automotive industry? <br>
            Sil-Pi offers a wide selection of cars available for both sale and rent.
            <br>
            We understand the importance of mobility in today's fast-paced world, and our aim is to provide you with quality vehicles and exceptional service.
        </p >
        <br>
        <b>Livestock and Products:</b>
        <br>
        <p class="text-lg text-gray-700">
            As animal enthusiasts, we're thrilled to offer a selection of animals and their associated products. 
            <br>
            Whether you're looking for a new addition to your farm or seeking high-quality animal-related goods, Sil-Pi is your go-to destination.
        </p>
        <br>
        <b>Consultancy Services:</b>
        <br>
        <p class="text-lg text-gray-700">
            With a team of experienced professionals, we offer consultancy services across various domains. 
            <br>
            Whether you're a business owner seeking strategic guidance or an individual looking for personalized advice, our experts are here to assist you in making informed decisions.
        </p>
        <br> 
        <b>Micro Lending:</b>
        <p class="text-lg text-gray-700">
            At Sil-Pi, we understand the importance of accessible financial services. 
            <br>
            Our micro lending platform is designed to provide financial support to individuals and small businesses, empowering them to pursue their goals and aspirations.
        </p>
        <br>
        <p class="text-lg text-gray-700">
            With a vision to contribute positively to the communities we serve, Sil-Pi is more than just a business; it's a partner in your journey towards success and fulfillment.
        </p>

        <h2 class="text-xl font-bold text-gray-900  mt-8 mb-4 ">Objectives</h2>
        
        <p class="text-lg text-gray-700">

            a.	To carry on all or any of the professions or business of social and other kinds of research, urban and rural planners, highway, traffics, airport and other transport planners, health planners, and general planners, designers, tracers, blue printers, copyists and investigators by way of operations research.
        </p>
        <br>
        <p class="text-lg text-gray-700">
            b.  To carry on the business of agricultural farming, including but not limited to the establishment, buying or otherwise acquiring farms and properties thereon or useful thereto; and carry on the business of buying, selling or otherwise disposing of agricultural produce of any kind, type or description.
        </p>
        <br>
        <p class="text-lg text-gray-700">
           c. To establish research and development centres for the business of the
            Company.
        </p>
        <br>
        <p class="text-lg text-gray-700">
           d.  To carry on all or any of the trades and business of livestock and crop farmers,
            breeders or dealers in livestock, crop and all agricultural products, to import and
            export the same and the business of gardeners, agriculturalists and dairymen
            and any other trade or business in connection with agriculture.
        </p>
        <br>
        <p class="text-lg text-gray-700">
           e.  To carry on the business of manufacturers’ and purchasers’ representatives,
            importers and exporters and or dealers in agricultural and other goods and
            services.
        </p>
        <br>
        <p class="text-lg text-gray-700">
           f. To set up model farms of crops and animals, to supply improved seeds,
            seedlings and animals to farmers and entities within and outside Uganda.
        </p>
        <br>
        <p class="text-lg text-gray-700">
           g. To carry on the business as manufacturers, producers, processors, growers,
            distillers, refiners, makers, inventors, convectors, importers, exporters, traders,
            buyers, sellers, retailers, wholesalers, suppliers, indenters, bottlers, packers,
            movers, preservers, stockists, agents, sub-agents, merchants, distributors,
            consignors, jobbers, brokers, concessionaires or otherwise deal in all kinds of
            products including but not limited crop and animal products, pesticides,
            insecticides, fungicides and all types of chemicals used apiculture, pisciculture,
            sericulture, horticulture, poultry farming and animal husbandry.
        </p>
        <br>
        <p class="text-lg text-gray-700">
            h. To carry on the business of money changers and dealers of foreign currencies
            and to buy, sell and deal in foreign currencies of all descriptions and to convert
            foreign currencies into Uganda shillings and vice versa.
        </p>
        <br>
        <p class="text-lg text-gray-700">
            j. To carry on the business of providing all kinds of services relating to Information
            Technology (IT) including but not limited to the import, export, supply, assemble,
            manufacture, sale and purchase of computers hardware and software, system
            peripherals and other electrical and electronic equipment, computers and
            computer related equipment namely computer applications and programming
            services, operating and managing all computer hardware and software, system
            support and maintenance, data preparation, research and survey on all
            computers related problems, administrative services, procurement and supply
            services, technical, scientific and operational advice including material and
            instructional aids, management coordination, supervision and control services,
            exhibition, seminars and computer personnel and management training courses
            and other ancillary services relating to IT and the computer industry.
        </p>
        <br>
        <p class="text-lg text-gray-700">
            k. To establish and carry on the business of buying and selling new and used
            motor cycles, vehicles, caravans, trailers, petrol oil and petro products, spare
            parts, accessories, radios, cassette players, rubber and electronic goods, gifts,
            books and confectionery.
        </p>
        <br>
        <p class="text-lg text-gray-700">
            l. To lend to or grant or provide credit or financial assistance to any person
            or company in any case in which such grant or provision is considered likely or
            indirectly to further any of the objects of the company or interests of its members.
        </p>
        <br>
        <p class="text-lg text-gray-700">
            m. To provide, offer, hire, engage, develop, improve any consultancy services
            otherwise deal in any kind of events like social, cultural, artistic, amusement to
            the corporate bodies, firms, clubs, associations, individuals and all other legal
            entities either in Uganda (or) abroad.
        </p>
        <br>

        <h2 class="text-xl font-bold text-gray-900  mt-8 mb-4 ">
            Our Mission:
        </h2>

        <p class="text-lg text-gray-700">
            To provide accessible, reliable, and ethical services that enhance the well-being and prosperity of our customers and communities.
        </p>
            
    </div>
</main>

{% endblock content %}

