{% extends 'base.html' %} {% load static %}


{% block content %}

<script>
    const homepage = true
</script>

<!-- hero section -->
<section class="relative overflow-hidden h-[70vh] lg:h-screen">
    <!-- carousel -->
    <div id="carouselSlides" class="h-full relative">
        {% for item in carousel_slides %}
        <div class="carouselSlide absolute top-8 sm:top-0 w-full h-full">
            <div class="relative h-full">
                <img src="{{ item.image_url }}" alt="background" class="object-cover w-full h-full" />
                <div
                    class="absolute top-0 left-0 w-full h-full grid bg-gradient-to-r from-[rgba(0,0,0,0.9)] to-[rgba(0,0,0,0.1)]">
                    <div class="container px-4 mx-auto content text-white grid content-center h-full">
                        <h2 class="sm:text-6xl text-4xl font-black uppercase text-primay-500">{{ item.title|safe }}</h2>
                        <p class="my-4 bg-white bg-opacity-10 bg-gradient-to-r from-white/10 to-dark/60 w-fit md:max-w-[50%] text-lg px-4 py-2">{{
                            item.description|safe }}</p>
                        <a href="{{ item.url }}">
                            <c-ui.button text="View more" icon="fas fa-arrow-right"></c-ui.button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- end carousel -->
</section>

<section class="py-20">
    <c-ui.InfiniteScroller speed="fast">
        <p class="font-black text-3xl lg:text-5xl text-muted uppercase px-8">SIL</p>
        <p class="font-black text-3xl lg:text-5xl text-muted uppercase px-8">Tropical Paint</p>
        <p class="font-black text-3xl lg:text-5xl text-muted uppercase px-8">Consultancy</p>
        <p class="font-black text-3xl lg:text-5xl text-muted uppercase px-8">Automobiles</p>
        <p class="font-black text-3xl lg:text-5xl text-muted uppercase px-8">Agriculture</p>
        <p class="font-black text-3xl lg:text-5xl text-muted uppercase px-8">Business growth</p>
    </c-ui.InfiniteScroller>
</section>

<!-- who we are -->
<section class="py-20 bg-gradient-to-b from-transparent to-white/50">
    <div class="bg-primary-300 px-8 py-16 md:rounded-2xl md:text-center container mx-auto slide-in-top slide-in-trigger">
        <h2 class="head__2">Who are we?</h2>
        <p class="text-lg md:text-xl max-w-2xl mx-auto mb-8">
            At Sil-Pi, we're passionate experts in agriculture, automobiles, and consultancy. From farm-fresh delights
            to reliable vehicles and expert guidance, we're your one-stop destination for quality and excellence. Join
            us as we cultivate flavors, drive innovation, and nurture your aspirations.
        </p>
        <a href="{% url 'main:about' %}" class="grid justify-center">
            <c-ui.button text="Learn more" icon="fas fa-arrow-right"></c-ui.button>
        </a>
    </div>
</section>

<!-- services -->
<div class="px-4 mx-auto py-20 grid bg-gradient-to-b from-white/50 to-white/90">
    <h2 class="hidden">Services</h2>
    <div class="container mx-auto">
        <div class="grid grid-flow-col gap-8 overflow-x-auto pb-8">
            {% for service in services %}
            <div class="max-w-sm grid grid-rows-[auto_1fr] mx-auto bg-white shadow-xl rounded-lg overflow-hidden slide-in-left slide-in-trigger">
                <div class="flex items-center justify-between">
                    <div>
                        <img src="{{ service.image }}" alt="" class="blur-img">
                    </div>
                </div>
                <div class="p-10 pt-8 grid [grid-template-rows:_auto_auto_1fr]">
                    <h3 class="text-secondary text-lg font-bold">{{ service.title }}</h2>
                    <p class="text-gray-600 mb-8 mt-6">{{ service.description }}</p>
                    <div class="grid content-end gap-3">
                        {% for link in service.links %}
                        <a href="{{ link.url }}" class="grid">
                            <c-ui.button text="{{ link.text }}" variant="outline" size="md"
                                icon="fas fa-arrow-right" />
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<section class="py-20 bg-gradient-to-b from-white/90 to-white">
    <div class="container mx-auto">
        <div class="flex gap-8 justify-around flex-col md:flex-row">
            <div class="text-center grid">
                <span class="text-primary text-8xl font-">50+</span>
                <span class="text-secondary">
                    Businesses Supported
                </span>
            </div>
            <div class="text-center grid">
                <span class="text-primary text-8xl font-">100+</span>
                <span class="text-secondary">
                    Satisfied Clients
                </span>
            </div>
            <div class="text-center grid">
                <span class="text-primary text-8xl font-">30+</span>
                <span class="text-secondary">
                    Solutions Created
                </span>
            </div>
        </div>
    </div>
</section>

{% if posts %}
<!-- posts -->
<aside class="py-20">
    <div class="container mx-auto">
        <h2 class="head__2 text-center">Updates</h2>
        <main class="grid sm:grid-cols-2 lg:grid-cols-3 gap-y-6">
            {% for post in posts %}
            <article class="slide-in-left slide-in-trigger">
                <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}" class="object-cover aspect-video blur-img">
                <a href="{% url 'posts:detail' post.pk %}"
                    class="text-primary-900 hover:text-primary-700 transition-all">
                    <h3
                        class="w-fit mt-1 pt-2 relative z-0 before:absolute before:top-0 before:-left-6 before:aspect-square before:bg-primary-100 before:h-8 before:w-8 before:-z-10 before:rotate-12 before:rounded-md">
                        {{ post.title }}</h3>
                </a>
            </article>
            {% endfor %}
        </main>
    </div>
</aside>
{% endif %}



{% endblock content %}