{% extends 'base.html' %} {% load static %}


{% block content %}

<main class="pt-40 pb-20">
    <!-- code here -->
    <div class=" container mx-auto block shadow-sm border-spacing-0 rounded-lg">

        <h2 class="text-xl font-bold text-gray-900  mt-8 mb-4 ">Terms and Policies - Sil-Pi</h2>
        
        <b>1. Privacy Policy:</b>
        <br>
        <p class="text-lg text-gray-700">
            Sil-Pi is committed to safeguarding your privacy. Our Privacy Policy outlines how we collect, use, and protect your personal information. By using our services, you agree to our Privacy Policy.
        </p>
        <br>
        <b>2. Vehicle Rentals and Sales:</b>
        <br>
        <p class="text-lg text-gray-700">
            All vehicle rentals and sales are subject to availability and terms specified in the respective agreements. Please review the terms and conditions provided before making any transactions.
        </p>
        <br>
        <b>3. Livestock and Products:</b>
        <br>
        <p class="text-lg text-gray-700">
            Sil-Pi strives to provide accurate information about animals and associated products. However, please note that prices, availability, and specifications are subject to change. Always verify details before making a purchase.
        </p>
        <br>
        <b>4. Consultancy Services:</b>
        <br>
        <p class="text-lg text-gray-700">
            Our consultancy services aim to provide valuable advice and insights. However, Sil-Pi does not guarantee specific outcomes, and decisions made based on our recommendations are the responsibility of the client.
        </p>
        <br>
        <b>5. Micro Lending:</b>
        <br>
        <p class="text-lg text-gray-700">
            Sil-Pi's micro lending services are subject to terms and conditions outlined in lending agreements.
            <br> Interest rates, repayment schedules, and eligibility criteria will be specified in the agreement.
        </p>
        <br>
        <b>6. Customer Support:</b>
        <br>
        <p class="text-lg text-gray-700">
            For any inquiries, concerns, or assistance, our customer support team is available to help.
            <br> Contact us via [email/phone] during business hours.
        </p>
        <br>
        <b>7. Feedback and Reviews:</b>
        <br>
        <p class="text-lg text-gray-700">

            We value your feedback. Reviews and testimonials provided by customers may be used for promotional purposes on our website and marketing materials.
        </p>
        <br>
        <b>8. Changes to Terms and Policies:</b>
        <br>
        <p class="text-lg text-gray-700">
            Sil-Pi reserves the right to update or modify these terms and policies at any time.
            <br> We recommend reviewing them periodically for any changes.
        </p>
        <br>
        <p class="text-lg text-gray-700"> Thank you for choosing Sil-Pi. We look forward to serving you with integrity and excellence.</p>
       
    </div>

</main>

{% endblock content %}

