{% extends 'base.html' %} {% load static %}


{% block content %}
<!-- products -->
<div class="products py-20 mt-40">
    <div class="container mx-auto">
        {% if product.count > 0 %}
        <div class="grid lg:grid-cols-3 gap-4">
            {% for product in products %}
            <a href="{% url 'products:product-detail' product.pk %}">
                <article class="p-2 outline outline-1 transition-all group hover:shadow-lg hover:rotate-3">
                    <div class="group-hover:-rotate-3 transition-all ">
                        <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}"
                            class="aspect-video object-cover w-full">
                        <h3 class="text-primary-600 font-medium">{{ product.name }}</h3>
                        <!-- <p>{{ product.price }}</p> -->
                    </div>
                </article>
            </a>
            {% endfor %}
        </div>
        {% else %}
        <div class="p-16 grid place-content-center gap-y-8">
            <p class="text-2xl md:text-5xl text-center">
                No products found!
            </p>
            <a href="{% url 'products:categories' %}" class="mx-auto w-fit">
                <c-ui.button text="Browse other categories" icon="fas fa-arrow-left"/>
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}