{% extends 'base.html' %} {% load static %}

{% block content %}
<main class="pb-20 pt-20" x-data="$store.cart">

    <div class="container mx-auto">
        <div class="grid gap-8">
            <div class="grid md:grid-cols-2 gap-4">
                <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}">
                <div>
                    <h3 class="font-semibold mt-2 mb-3 text-xl text-primary-700"><span>{{ product.name }}</span>. 
                        <span>{{ vehicle.model }}</span>
                    </h3>
                    <p>
                        {% if product.price %}
                        <span class="font-semibold mr-2">Price per unit:</span>
                        <span>{{ product.price }}</span>
                        {% else %}
                        <span>Price is variable, get a quote below for the current price.</span>
                        {% endif %}
                    </p>
                    <!-- <h4 class="font-semibold mt-2">More Details:</h4> -->
                    <p>{{ product.details }}</p>
                </div>
            </div>
            <div>
                <form class="flex flex-wrap items-end justify-center gap-8 w-fit" method="post">
                    {% csrf_token %}
                    <div class="grid items-start gap-2">
                        <label for="name" class="font-semibold">Name *</label>
                        <input type="text" name="name" class="px-4 py-2 rounded-md outline outline-1 outline-gray-400"
                            required>
                    </div>
                    <div class="grid items-start gap-2">
                        <label for="email" class="font-semibold">Email *</label>
                        <input type="email" name="email" class="px-4 py-2 rounded-md outline outline-1 outline-gray-400"
                            required>
                    </div>
                    <div class="grid items-start gap-2">
                        <label for="phone" class="font-semibold">Phone *</label>
                        <input type="tel" name="phone" class="px-4 py-2 rounded-md outline outline-1 outline-gray-400"
                            required>
                    </div>
                    <button type="submit" class="px-6 py-2 bg-primary-500 w-fit text-white font-semibold">
                        Request a Quote
                        <i class="fas fa-arrow-right-long ml-3"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock content %}

{% block scriptssdfghj %}
<script>
    document.addEventListener('alpine:init', () => {
        Alpine.store('cart', {
            item_id: Number('{{ product.pk }}'),
            quantity: 1,
            csrf() {
                const field = document.getElementById('token')?.firstElementChild
                return field.value;
            },
            async addToCart() {

                const obj = { product_id: this.item_id, quantity: this.quantity }

                const response = await fetch("{% url 'cart:add-to-cart' %}", {
                    method: 'POST',
                    headers: {
                        Accept: 'application/json',
                        'Content-Type': 'application/json',
                        'X-CSRFToken': this.csrf(),
                    },
                    body: JSON.stringify(obj),
                })
                const data = await response.json()
                console.log(data)
                window.location.href = '/cart/checkout/'
            }
        });
    })

</script>
{% endblock %}